.request-card {
  background-color: #2a2a33;
  border-radius: 14px;
  padding: 1.4rem 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.2s ease;
}

.request-card:hover {
  background-color: #33333d;
}

.request-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.request-name,
.request-manager,
.request-date {
  color: #e0e0e0;
  font-size: 1.05rem;
}

.request-status {
  font-weight: bold;
  padding: 0.4rem 1.2rem;
  border-radius: 999px;
  width: fit-content;
  font-size: 0.95rem;
  text-align: center;
}

.request-status.blue {
  background-color: #3b82f6;
  color: #fff;
}

.request-status.yellow {
  background-color: #facc15;
  color: #000;
}

.request-status.gray {
  background-color: #6b7280;
  color: #fff;
}

.request-status.red {
  background-color: #ef4444;
  color: white;
}

.request-status.green {
  background-color: #10b981;
  color: white;
}